

$primary: #011e41 !default;
$secondary: #7B8A9C !default;
$tertiary: #ADB9C3 !default;
$quaternary: #DFE7EA !default;
$white: #fff !default;
$alert: crimson !default;
$font-Regular: Regular,Noto Sans,Arial,sans-serif;
$font-Semibold: Semibold, Noto Sans, Arial, sans-serif;
$s: 1rem !default;
