:root {
    --color-black: #000;
    --color-white: #fff;
    --color-red-blush-1000: #fdf8f8;
    --color-red-blush-950: #fcf4f4;
    --color-red-blush-900: #f7e2e2;
    --color-red-blush-850: #f2d3d3;
    --color-red-blush-800: #edc1c1;
    --color-red-blush-750: #e7acac;
    --color-red-blush-700: #e19898;
    --color-red-blush-650: #d68989;
    --color-red-blush-600: #c87c7d;
    --color-red-blush-550: #ac6264;
    --color-red-blush-500: #9b5658;
    --color-red-blush-450: #8a4c4e;
    --color-red-blush-400: #784344;
    --color-red-blush-350: #683a3b;
    --color-red-blush-300: #573031;
    --color-red-blush-250: #472728;
    --color-red-blush-200: #381f20;
    --color-red-blush-150: #2d1919;
    --color-red-blush-100: #190e0e;
    --color-red-blush-50: #110909;
    --color-red-carmine-1000: #fef9fa;
    --color-red-carmine-950: #fdf3f5;
    --color-red-carmine-900: #f9e2e5;
    --color-red-carmine-850: #f5d0d6;
    --color-red-carmine-800: #f2bec6;
    --color-red-carmine-750: #eda9b3;
    --color-red-carmine-700: #e9929f;
    --color-red-carmine-650: #e5808f;
    --color-red-carmine-600: #e16c7d;
    --color-red-carmine-550: #d73d54;
    --color-red-carmine-500: #d01935;
    --color-red-carmine-450: #bb122c;
    --color-red-carmine-400: #8f0e26;
    --color-red-carmine-350: #8f0e26;
    --color-red-carmine-300: #780c23;
    --color-red-carmine-250: #620b1f;
    --color-red-carmine-200: #4f091b;
    --color-red-carmine-150: #400716;
    --color-red-carmine-100: #27040d;
    --color-red-carmine-50: #1c030a;
    --color-red-berry-1000: #fef9fa;
    --color-red-berry-950: #fef4f5;
    --color-red-berry-900: #fce1e5;
    --color-red-berry-850: #fbced5;
    --color-red-berry-800: #f9bcc5;
    --color-red-berry-750: #f7a4b0;
    --color-red-berry-700: #f58c9c;
    --color-red-berry-650: #f37789;
    --color-red-berry-600: #f16075;
    --color-red-berry-550: #d93a52;
    --color-red-berry-500: #c23449;
    --color-red-berry-450: #ac2e41;
    --color-red-berry-400: #972839;
    --color-red-berry-350: #832332;
    --color-red-berry-300: #6e1d29;
    --color-red-berry-250: #5a1822;
    --color-red-berry-200: #48131b;
    --color-red-berry-150: #3a0f16;
    --color-red-berry-100: #22090d;
    --color-red-berry-50: #170609;
    --color-violet-1000: #fbf8fc;
    --color-violet-950: #f8f4fa;
    --color-violet-900: #ede5f3;
    --color-violet-850: #e3d5ec;
    --color-violet-800: #d7c5e4;
    --color-violet-750: #cbb2dc;
    --color-violet-700: #be9fd3;
    --color-violet-650: #b490cd;
    --color-violet-600: #a981c6;
    --color-violet-550: #9462b7;
    --color-violet-500: #8951b0;
    --color-violet-450: #7e42a9;
    --color-violet-400: #7331a2;
    --color-violet-350: #65298e;
    --color-violet-300: #542277;
    --color-violet-250: #441c61;
    --color-violet-200: #37164e;
    --color-violet-150: #2c123f;
    --color-violet-100: #190a24;
    --color-violet-50: #110717;
    --color-violet-gray-1000: #fafafc;
    --color-violet-gray-950: #f6f4f8;
    --color-violet-gray-900: #eae6ef;
    --color-violet-gray-850: #ddd8e6;
    --color-violet-gray-800: #cfc8db;
    --color-violet-gray-750: #c1b7d0;
    --color-violet-gray-700: #b1a6c5;
    --color-violet-gray-650: #a498bb;
    --color-violet-gray-600: #978bb1;
    --color-violet-gray-550: #7c709b;
    --color-violet-gray-500: #6f638f;
    --color-violet-gray-450: #635880;
    --color-violet-gray-400: #554d71;
    --color-violet-gray-350: #4a4364;
    --color-violet-gray-300: #3d3754;
    --color-violet-gray-250: #322c46;
    --color-violet-gray-200: #27233a;
    --color-violet-gray-150: #1f1c2e;
    --color-violet-gray-100: #111019;
    --color-violet-gray-50: #0c0a11;
    --color-violet-purple-1000: #f9fafc;
    --color-violet-purple-950: #f6f6fa;
    --color-violet-purple-900: #e5e6f1;
    --color-violet-purple-850: #d6d8e9;
    --color-violet-purple-800: #c7cae1;
    --color-violet-purple-750: #b5b9d7;
    --color-violet-purple-700: #a4a9ce;
    --color-violet-purple-650: #969bc7;
    --color-violet-purple-600: #888ebf;
    --color-violet-purple-550: #706ec0;
    --color-violet-purple-500: #665cc3;
    --color-violet-purple-450: #5a51ae;
    --color-violet-purple-400: #4f4798;
    --color-violet-purple-350: #443d83;
    --color-violet-purple-300: #39336e;
    --color-violet-purple-250: #2e2a58;
    --color-violet-purple-200: #252147;
    --color-violet-purple-150: #1d1a38;
    --color-violet-purple-100: #100f20;
    --color-violet-purple-50: #0a0914;
    --color-blue-indigo-1000: #fafbfd;
    --color-blue-indigo-950: #f3f5fb;
    --color-blue-indigo-900: #e2e8f5;
    --color-blue-indigo-850: #d0daf0;
    --color-blue-indigo-800: #bfccea;
    --color-blue-indigo-750: #a9bbe3;
    --color-blue-indigo-700: #95abdc;
    --color-blue-indigo-650: #859dd7;
    --color-blue-indigo-600: #7390d1;
    --color-blue-indigo-550: #5174c6;
    --color-blue-indigo-500: #3f66c0;
    --color-blue-indigo-450: #2e58ba;
    --color-blue-indigo-400: #1c4ab4;
    --color-blue-indigo-350: #093bae;
    --color-blue-indigo-300: #002f9a;
    --color-blue-indigo-250: #00267f;
    --color-blue-indigo-200: #001f66;
    --color-blue-indigo-150: #001953;
    --color-blue-indigo-100: #000f30;
    --color-blue-indigo-50: #000a22;
    --color-blue-gray-1000: #f9f9fa;
    --color-blue-gray-950: #f5f5f6;
    --color-blue-gray-900: #e7e7e8;
    --color-blue-gray-850: #d8d9db;
    --color-blue-gray-800: #caccce;
    --color-blue-gray-750: #babbbf;
    --color-blue-gray-700: #a9abaf;
    --color-blue-gray-650: #9c9ea3;
    --color-blue-gray-600: #8f9197;
    --color-blue-gray-550: #74777e;
    --color-blue-gray-500: #676a72;
    --color-blue-gray-450: #5b5e67;
    --color-blue-gray-400: #4e525b;
    --color-blue-gray-350: #434751;
    --color-blue-gray-300: #373b45;
    --color-blue-gray-250: #2b303b;
    --color-blue-gray-200: #212631;
    --color-blue-gray-150: #191e29;
    --color-blue-gray-100: #0d111a;
    --color-blue-gray-50: #080b11;
    --color-blue-1000: #f8fbfc;
    --color-blue-950: #f2f6f8;
    --color-blue-900: #dee9ee;
    --color-blue-850: #cedce4;
    --color-blue-800: #beceda;
    --color-blue-750: #aabecd;
    --color-blue-700: #98adc1;
    --color-blue-650: #89a0b8;
    --color-blue-600: #7a93af;
    --color-blue-550: #5d799b;
    --color-blue-500: #506b91;
    --color-blue-450: #445f88;
    --color-blue-400: #36527e;
    --color-blue-350: #2b4775;
    --color-blue-300: #1e3a6b;
    --color-blue-250: #122e61;
    --color-blue-200: #062258;
    --color-blue-150: #001b4d;
    --color-blue-100: #00102d;
    --color-blue-50: #000b1e;
    --color-blue-teal-1000: #f8fafb;
    --color-blue-teal-950: #f3f7f9;
    --color-blue-teal-900: #dfe8ed;
    --color-blue-teal-850: #cedce4;
    --color-blue-teal-800: #bccfd9;
    --color-blue-teal-750: #a6bfcd;
    --color-blue-teal-700: #90afc1;
    --color-blue-teal-650: #80a3b8;
    --color-blue-teal-600: #6e96ae;
    --color-blue-teal-550: #4a7d9a;
    --color-blue-teal-500: #3f6f8b;
    --color-blue-teal-450: #38637b;
    --color-blue-teal-400: #31566c;
    --color-blue-teal-350: #2a4a5d;
    --color-blue-teal-300: #233f4e;
    --color-blue-teal-250: #1d323f;
    --color-blue-teal-200: #172833;
    --color-blue-teal-150: #122029;
    --color-blue-teal-100: #0a1217;
    --color-blue-teal-50: #070b0e;
    --color-blue-cyan-1000: #f4fbfd;
    --color-blue-cyan-950: #ecf9fc;
    --color-blue-cyan-900: #c9edf7;
    --color-blue-cyan-850: #abe3f3;
    --color-blue-cyan-800: #85d7ed;
    --color-blue-cyan-750: #5ac9e7;
    --color-blue-cyan-700: #4cb6e3;
    --color-blue-cyan-650: #42a7df;
    --color-blue-cyan-600: #3998d8;
    --color-blue-cyan-550: #2f7db1;
    --color-blue-cyan-500: #2a6f9e;
    --color-blue-cyan-450: #25638c;
    --color-blue-cyan-400: #20567b;
    --color-blue-cyan-350: #1c4a6a;
    --color-blue-cyan-300: #173f59;
    --color-blue-cyan-250: #133248;
    --color-blue-cyan-200: #0f2839;
    --color-blue-cyan-150: #0c202e;
    --color-blue-cyan-100: #07121a;
    --color-blue-cyan-50: #050c11;
    --color-green-1000: #f8fcf9;
    --color-green-950: #edf8f1;
    --color-green-900: #d1eedb;
    --color-green-850: #b9e4c8;
    --color-green-800: #9bd9b0;
    --color-green-750: #78cc95;
    --color-green-700: #56bf7a;
    --color-green-650: #37b362;
    --color-green-600: #17a749;
    --color-green-550: #12893b;
    --color-green-500: #107a35;
    --color-green-450: #0e6c2f;
    --color-green-400: #0c5f29;
    --color-green-350: #0b5324;
    --color-green-300: #09441e;
    --color-green-250: #073818;
    --color-green-200: #062c13;
    --color-green-150: #05230f;
    --color-green-100: #031409;
    --color-green-50: #020d06;
    --color-green-moss-1000: #f9faf9;
    --color-green-moss-950: #f4f6f2;
    --color-green-moss-900: #e3e8df;
    --color-green-moss-850: #d3dcce;
    --color-green-moss-800: #c2d0bd;
    --color-green-moss-750: #adc1a7;
    --color-green-moss-700: #99b293;
    --color-green-moss-650: #8ba583;
    --color-green-moss-600: #7c9974;
    --color-green-moss-550: #617f57;
    --color-green-moss-500: #56714d;
    --color-green-moss-450: #4c6443;
    --color-green-moss-400: #435739;
    --color-green-moss-350: #3a4c31;
    --color-green-moss-300: #303f29;
    --color-green-moss-250: #273321;
    --color-green-moss-200: #1f281a;
    --color-green-moss-150: #192015;
    --color-green-moss-100: #0e120c;
    --color-green-moss-50: #090c07;
    --color-green-olive-1000: #fbfbfa;
    --color-green-olive-950: #f4f6f3;
    --color-green-olive-900: #e4e8e1;
    --color-green-olive-850: #d5dbd0;
    --color-green-olive-800: #c5cebf;
    --color-green-olive-750: #b3bfab;
    --color-green-olive-700: #a1af96;
    --color-green-olive-650: #92a386;
    --color-green-olive-600: #849776;
    --color-green-olive-550: #667e55;
    --color-green-olive-500: #577145;
    --color-green-olive-450: #4a6635;
    --color-green-olive-400: #3c5b26;
    --color-green-olive-350: #2f5018;
    --color-green-olive-300: #214308;
    --color-green-olive-250: #1a3605;
    --color-green-olive-200: #142b04;
    --color-green-olive-150: #102303;
    --color-green-olive-100: #091402;
    --color-green-olive-50: #060d01;
    --color-green-grass-1000: #f8fbf6;
    --color-green-grass-950: #f2f6ed;
    --color-green-grass-900: #e0ebd5;
    --color-green-grass-850: #cedfbe;
    --color-green-grass-800: #bbd3a4;
    --color-green-grass-750: #a6c588;
    --color-green-grass-700: #90b66a;
    --color-green-grass-650: #7faa54;
    --color-green-grass-600: #749d4d;
    --color-green-grass-550: #60803f;
    --color-green-grass-500: #557239;
    --color-green-grass-450: #4c6532;
    --color-green-grass-400: #42582c;
    --color-green-grass-350: #394c26;
    --color-green-grass-300: #2f4020;
    --color-green-grass-250: #26341a;
    --color-green-grass-200: #1f2914;
    --color-green-grass-150: #182110;
    --color-green-grass-100: #0e1209;
    --color-green-grass-50: #090c06;
    --color-yellow-sun-1000: #fefce6;
    --color-yellow-sun-950: #fef8cd;
    --color-yellow-sun-900: #fbe95d;
    --color-yellow-sun-850: #f6da00;
    --color-yellow-sun-800: #e5cc00;
    --color-yellow-sun-750: #d3bb00;
    --color-yellow-sun-700: #c1ab00;
    --color-yellow-sun-650: #b39e00;
    --color-yellow-sun-600: #a49100;
    --color-yellow-sun-550: #877700;
    --color-yellow-sun-500: #786a00;
    --color-yellow-sun-450: #6a5e00;
    --color-yellow-sun-400: #5d5200;
    --color-yellow-sun-350: #514700;
    --color-yellow-sun-300: #433b00;
    --color-yellow-sun-250: #373000;
    --color-yellow-sun-200: #2b2600;
    --color-yellow-sun-150: #221f00;
    --color-yellow-sun-100: #141100;
    --color-yellow-sun-50: #0d0b00;
    --color-yellow-1000: #fffbea;
    --color-yellow-950: #fff7d6;
    --color-yellow-900: #ffe883;
    --color-yellow-850: #ffd726;
    --color-yellow-800: #f4c703;
    --color-yellow-750: #e0b703;
    --color-yellow-700: #cca702;
    --color-yellow-650: #bd9a02;
    --color-yellow-600: #ae8e02;
    --color-yellow-550: #8f7402;
    --color-yellow-500: #7f6801;
    --color-yellow-450: #715c01;
    --color-yellow-400: #635001;
    --color-yellow-350: #554501;
    --color-yellow-300: #473a01;
    --color-yellow-250: #3a3001;
    --color-yellow-200: #2e2501;
    --color-yellow-150: #251e00;
    --color-yellow-100: #151100;
    --color-yellow-50: #0e0b00;
    --color-yellow-amber-1000: #fdf9ed;
    --color-yellow-amber-950: #fcf5e1;
    --color-yellow-amber-900: #f6e6b2;
    --color-yellow-amber-850: #f1d989;
    --color-yellow-amber-800: #ebc957;
    --color-yellow-amber-750: #e4b518;
    --color-yellow-amber-700: #d5a401;
    --color-yellow-amber-650: #c59701;
    --color-yellow-amber-600: #b58b01;
    --color-yellow-amber-550: #957201;
    --color-yellow-amber-500: #846601;
    --color-yellow-amber-450: #765a01;
    --color-yellow-amber-400: #664f00;
    --color-yellow-amber-350: #594400;
    --color-yellow-amber-300: #493800;
    --color-yellow-amber-250: #3c2e00;
    --color-yellow-amber-200: #2f2400;
    --color-yellow-amber-150: #261d00;
    --color-yellow-amber-100: #151100;
    --color-yellow-amber-50: #0e0b00;
    --color-yellow-sand-1000: #fdfaf4;
    --color-yellow-sand-950: #faf4ea;
    --color-yellow-sand-900: #f4e6cd;
    --color-yellow-sand-850: #edd7ae;
    --color-yellow-sand-800: #e6c88e;
    --color-yellow-sand-750: #ddb567;
    --color-yellow-sand-700: #d3a33f;
    --color-yellow-sand-650: #ca9521;
    --color-yellow-sand-600: #bc8817;
    --color-yellow-sand-550: #9a6f13;
    --color-yellow-sand-500: #896311;
    --color-yellow-sand-450: #7a580f;
    --color-yellow-sand-400: #6a4d0d;
    --color-yellow-sand-350: #5c420b;
    --color-yellow-sand-300: #4d370a;
    --color-yellow-sand-250: #3f2d08;
    --color-yellow-sand-200: #312406;
    --color-yellow-sand-150: #271d05;
    --color-yellow-sand-100: #171003;
    --color-yellow-sand-50: #0e0a02;
    --color-orange-pumpkin-1000: #fefaf7;
    --color-orange-pumpkin-950: #fcf4eb;
    --color-orange-pumpkin-900: #f8e4cf;
    --color-orange-pumpkin-850: #f4d4b3;
    --color-orange-pumpkin-800: #f0c498;
    --color-orange-pumpkin-750: #eab074;
    --color-orange-pumpkin-700: #e59b4e;
    --color-orange-pumpkin-650: #e08a30;
    --color-orange-pumpkin-600: #db770f;
    --color-orange-pumpkin-550: #bf5a01;
    --color-orange-pumpkin-500: #ad4e00;
    --color-orange-pumpkin-450: #9a4500;
    --color-orange-pumpkin-400: #863d00;
    --color-orange-pumpkin-350: #743500;
    --color-orange-pumpkin-300: #612c00;
    --color-orange-pumpkin-250: #4f2400;
    --color-orange-pumpkin-200: #3f1d00;
    --color-orange-pumpkin-150: #331700;
    --color-orange-pumpkin-100: #1d0d00;
    --color-orange-pumpkin-50: #130900;
    --color-orange-1000: #fffaf6;
    --color-orange-950: #fef5ee;
    --color-orange-900: #fde3d0;
    --color-orange-850: #fcd1b2;
    --color-orange-800: #fac096;
    --color-orange-750: #f9a96f;
    --color-orange-700: #f79148;
    --color-orange-650: #f67c25;
    --color-orange-600: #f26500;
    --color-orange-550: #c85300;
    --color-orange-500: #b24a00;
    --color-orange-450: #9e4200;
    --color-orange-400: #8a3a00;
    --color-orange-350: #793200;
    --color-orange-300: #642a00;
    --color-orange-250: #522200;
    --color-orange-200: #421b00;
    --color-orange-150: #341600;
    --color-orange-100: #1e0c00;
    --color-orange-50: #140800;
    --color-red-1000: #fff9f8;
    --color-red-950: #fff3f2;
    --color-red-900: #ffe0de;
    --color-red-850: #ffcdcb;
    --color-red-800: #febbb7;
    --color-red-750: #fea29d;
    --color-red-700: #fe8983;
    --color-red-650: #fe726b;
    --color-red-600: #fd574f;
    --color-red-550: #e13229;
    --color-red-500: #c92c25;
    --color-red-450: #b32820;
    --color-red-400: #9c231c;
    --color-red-350: #881e19;
    --color-red-300: #731915;
    --color-red-250: #5e1511;
    --color-red-200: #4b110e;
    --color-red-150: #3d0d0b;
    --color-red-100: #240806;
    --color-red-50: #190505;
    --color-red-burnt-1000: #fbfafa;
    --color-red-burnt-950: #f8f4f4;
    --color-red-burnt-900: #eee5e5;
    --color-red-burnt-850: #e5d7d7;
    --color-red-burnt-800: #dac7c7;
    --color-red-burnt-750: #cfb5b5;
    --color-red-burnt-700: #c4a3a3;
    --color-red-burnt-650: #bb9595;
    --color-red-burnt-600: #af8787;
    --color-red-burnt-550: #986b6b;
    --color-red-burnt-500: #8d5e5e;
    --color-red-burnt-450: #7f5252;
    --color-red-burnt-400: #714646;
    --color-red-burnt-350: #643d3d;
    --color-red-burnt-300: #563131;
    --color-red-burnt-250: #482626;
    --color-red-burnt-200: #3a1e1e;
    --color-red-burnt-150: #2f1818;
    --color-red-burnt-100: #1a0d0d;
    --color-red-burnt-50: #110909;
    --color-gray-1000: #fafafa;
    --color-gray-950: #f6f6f6;
    --color-gray-900: #e8e8e8;
    --color-gray-850: #dadada;
    --color-gray-800: #ccc;
    --color-gray-750: #bbb;
    --color-gray-700: #ababab;
    --color-gray-650: #9e9e9e;
    --color-gray-600: #919191;
    --color-gray-550: #777;
    --color-gray-500: #6a6a6a;
    --color-gray-450: #5e5e5e;
    --color-gray-400: #525252;
    --color-gray-350: #474747;
    --color-gray-300: #3b3b3b;
    --color-gray-250: #303030;
    --color-gray-200: #262626;
    --color-gray-150: #1f1f1f;
    --color-gray-100: #111;
    --color-gray-50: #0b0b0b;
    --dimension-168: 168px;
    --dimension-128: 128px;
    --dimension-120: 120px;
    --dimension-112: 112px;
    --dimension-104: 104px;
    --dimension-88: 88px;
    --dimension-80: 80px;
    --dimension-72: 72px;
    --dimension-64: 64px;
    --dimension-56: 56px;
    --dimension-48: 48px;
    --dimension-40: 40px;
    --dimension-38: 38px;
    --dimension-32: 32px;
    --dimension-28: 28px;
    --dimension-26: 26px;
    --dimension-24: 24px;
    --dimension-20: 20px;
    --dimension-18: 18px;
    --dimension-16: 16px;
    --dimension-12: 12px;
    --dimension-8: 8px;
    --dimension-4: 4px;
    --dimension-3: 3px;
    --dimension-2: 2px;
    --color-vis-on-transactional-100: var(--color-white);
    --color-vis-transactional-400: var(--color-red-carmine-500);
    --color-vis-transactional-300: var(--color-red-carmine-450);
    --color-vis-transactional-200: var(--color-red-carmine-350);
    --color-vis-on-decorative2-500: var(--color-white);
    --color-vis-on-decorative2-400: var(--color-white);
    --color-vis-on-decorative2-300: var(--color-white);
    --color-vis-on-decorative2-200: var(--color-yellow-amber-1000);
    --color-vis-on-decorative2-100: var(--color-yellow-amber-950);
    --color-vis-decorative2-500: var(--color-yellow-amber-250);
    --color-vis-decorative2-400: var(--color-yellow-amber-300);
    --color-vis-decorative2-300: var(--color-yellow-amber-350);
    --color-vis-decorative2-200: var(--color-yellow-amber-450);
    --color-vis-decorative2-100: var(--color-yellow-amber-500);
    --color-vis-on-decorative1-500: var(--color-white);
    --color-vis-on-decorative1-400: var(--color-white);
    --color-vis-on-decorative1-300: var(--color-red-carmine-1000);
    --color-vis-on-decorative1-200: var(--color-red-carmine-950);
    --color-vis-on-decorative1-100: var(--color-red-carmine-900);
    --color-vis-decorative1-500: var(--color-red-carmine-150);
    --color-vis-decorative1-400: var(--color-red-carmine-250);
    --color-vis-decorative1-300: var(--color-red-carmine-300);
    --color-vis-decorative1-200: var(--color-red-carmine-400);
    --color-vis-decorative1-100: var(--color-red-carmine-500);
    --color-on-caution-500: var(--color-yellow-150);
    --color-on-caution-400: var(--color-yellow-400);
    --color-on-caution-300: var(--color-yellow-750);
    --color-on-caution-200: var(--color-yellow-900);
    --color-on-caution-100: var(--color-yellow-950);
    --color-caution-500: var(--color-yellow-200);
    --color-caution-400: var(--color-yellow-250);
    --color-caution-300: var(--color-yellow-400);
    --color-caution-200: var(--color-yellow-750);
    --color-caution-100: var(--color-yellow-800);
    --color-on-danger-500: var(--color-red-200);
    --color-on-danger-400: var(--color-red-350);
    --color-on-danger-300: var(--color-red-750);
    --color-on-danger-200: var(--color-red-850);
    --color-on-danger-100: var(--color-red-900);
    --color-danger-500: var(--color-red-200);
    --color-danger-400: var(--color-red-350);
    --color-danger-300: var(--color-red-400);
    --color-danger-200: var(--color-red-550);
    --color-danger-100: var(--color-red-650);
    --color-on-success-500: var(--color-green-200);
    --color-on-success-400: var(--color-green-300);
    --color-on-success-300: var(--color-green-450);
    --color-on-success-200: var(--color-green-750);
    --color-on-success-100: var(--color-green-850);
    --color-success-500: var(--color-green-200);
    --color-success-400: var(--color-green-350);
    --color-success-300: var(--color-green-400);
    --color-success-200: var(--color-green-550);
    --color-success-100: var(--color-green-650);
    --color-on-info-500: var(--color-blue-indigo-200);
    --color-on-info-400: var(--color-blue-indigo-350);
    --color-on-info-300: var(--color-blue-indigo-450);
    --color-on-info-200: var(--color-blue-indigo-750);
    --color-on-info-100: var(--color-blue-indigo-850);
    --color-info-500: var(--color-blue-indigo-200);
    --color-info-400: var(--color-blue-indigo-350);
    --color-info-300: var(--color-blue-indigo-400);
    --color-info-200: var(--color-blue-indigo-550);
    --color-info-100: var(--color-blue-indigo-700);
    --color-on-tertiary-500: var(--color-white);
    --color-on-tertiary-400: var(--color-white);
    --color-on-tertiary-300: var(--color-red-carmine-1000);
    --color-on-tertiary-200: var(--color-red-carmine-950);
    --color-on-tertiary-100: var(--color-red-carmine-900);
    --color-tertiary-500: var(--color-red-carmine-150);
    --color-tertiary-400: var(--color-red-carmine-250);
    --color-tertiary-300: var(--color-red-carmine-300);
    --color-tertiary-200: var(--color-red-carmine-400);
    --color-tertiary-100: var(--color-red-carmine-500);
    --color-on-secondary-500: var(--color-white);
    --color-on-secondary-400: var(--color-white);
    --color-on-secondary-300: var(--color-white);
    --color-on-secondary-200: var(--color-yellow-amber-1000);
    --color-on-secondary-100: var(--color-yellow-amber-950);
    --color-secondary-500: var(--color-yellow-amber-250);
    --color-secondary-400: var(--color-yellow-amber-300);
    --color-secondary-300: var(--color-yellow-amber-350);
    --color-secondary-200: var(--color-yellow-amber-450);
    --color-secondary-100: var(--color-yellow-amber-500);
    --color-on-primary-500: var(--color-white);
    --color-on-primary-400: var(--color-white);
    --color-on-primary-300: var(--color-red-carmine-1000);
    --color-on-primary-200: var(--color-red-carmine-950);
    --color-on-primary-100: var(--color-red-carmine-900);
    --color-primary-500: var(--color-red-carmine-150);
    --color-primary-400: var(--color-red-carmine-250);
    --color-primary-300: var(--color-red-carmine-300);
    --color-primary-200: var(--color-red-carmine-400);
    --color-primary-100: var(--color-red-carmine-500);
    --color-on-container-500: var(--color-black);
    --color-on-container-400: var(--color-gray-200);
    --color-on-container-300: var(--color-gray-400);
    --color-on-container-200: var(--color-gray-800);
    --color-on-container-100: var(--color-gray-1000);
    --color-container-500: var(--color-gray-150);
    --color-container-400: var(--color-gray-250);
    --color-container-300: var(--color-gray-350);
    --color-container-200: var(--color-gray-600);
    --color-container-100: var(--color-gray-950);
    --color-on-surface-500: var(--color-gray-300);
    --color-on-surface-400: var(--color-gray-450);
    --color-on-surface-300: var(--color-gray-600);
    --color-on-surface-200: var(--color-gray-750);
    --color-on-surface-100: var(--color-gray-1000);
    --color-surface-500: var(--color-gray-150);
    --color-surface-400: var(--color-gray-200);
    --color-surface-300: var(--color-gray-250);
    --color-surface-200: var(--color-gray-300);
    --color-surface-100: var(--color-gray-950);
    --color-on-background-500: var(--color-gray-250);
    --color-on-background-400: var(--color-gray-350);
    --color-on-background-300: var(--color-blue-gray-500);
    --color-on-background-200: var(--color-gray-650);
    --color-on-background-100: var(--color-gray-1000);
    --color-background: var(--color-gray-100);
    --color-header: #c3c4c7;
    --color-background-header: #141414;
    --color-footer: #fff;
    --color-background-footer: #21201f;
    --button-color-on-subtle-hover: var(--color-on-container-500);
    --button-color-on-subtle-normal: var(--color-on-container-500);
    --button-color-on-highlight-hover: var(--color-on-primary-500);
    --button-color-on-highlight-normal: var(--color-on-primary-500);
    --button-color-subtle-hover: var(--color-container-200);
    --button-color-subtle-normal: var(--color-container-100);
    --button-color-highlight-hover: var(--color-primary-200);
    --button-color-highlight-normal: var(--color-primary-100);
    --banner-color-on-normal: var(--color-container-100);
    --banner-color-container: var(--color-container-500);
    --font-size-label-xs: 14px;
    --font-size-label-emphasis-xs: 14px;
    --font-size-label-s: 17px;
    --font-size-label-emphasis-s: 17px;
    --font-size-label-m: 19px;
    --font-size-label-emphasis-m: 19px;
    --font-size-label-l: 22px;
    --font-size-label-emphasis-l: 22px;
    --font-size-link-xs: 14px;
    --font-size-link-emphasis-xs: 14px;
    --font-size-link-s: 17px;
    --font-size-link-emphasis-s: 17px;
    --font-size-link-m: 19px;
    --font-size-link-emphasis-m: 19px;
    --font-size-link-l: 22px;
    --font-size-link-emphasis-l: 22px;
    --font-size-body-xs: 14px;
    --font-size-body-emphasis-xs: 14px;
    --font-size-body-s: 17px;
    --font-size-body-emphasis-s: 17px;
    --font-size-body-m: 19px;
    --font-size-body-emphasis-m: 19px;
    --font-size-body-l: 22px;
    --font-size-body-emphasis-l: 22px;
    --font-size-subheading-xs: 14px;
    --font-size-subheading-s: 17px;
    --font-size-subheading-m: 19px;
    --font-size-subheading-l: 22px;
    --font-size-heading-xs: 19px;
    --font-size-heading-s: 24px;
    --font-size-heading-m: 29px;
    --font-size-heading-l: 38px;
    --font-size-preamble-s: 24px;
    --font-size-preamble-m: 29px;
    --font-size-display-xs: 38px;
    --font-size-display-s: 48px;
    --font-size-display-m: 58px;
    --font-size-display-l: 77px;
}